{% extends "geonode_base.html" %}
{% load i18n %}
{#{% load static from staticfiles %}#}
{% load base_tags %}

{% block extra_head %}

    {#    get super head block data #}
    {{ block.super }}
    <style type="text/css">
        {#    overwrite jumbotron container background data#}
        {% if custom_theme.jumbotron_color %}
            .jumbotron {
                background-color: {{ custom_theme.jumbotron_color }}
            }
        {% endif %}

        {% if custom_theme.jumbotron_title_color %}
            .jumbotron h1,
            .jumbotron h2,
            .jumbotron h3 {
                color: {{ custom_theme.jumbotron_title_color }}
            }
        {% endif %}

        {% if custom_theme.jumbotron_text_color %}
            .jumbotron p {
                color: {{ custom_theme.jumbotron_text_color }}
            }
        {% endif %}

        /* atlas app */
        .block {
        {#background: rgba(55,70,75,1);#}{#background: rgb(0,140,210);#} margin-top: 2em;
            margin-bottom: 2em;
            border-left-style: solid;
            border-left-width: 20px;
            border-left-color: rgb(0, 140, 210);
        }

        .atlastext {
            font-size: 22px;
            width: 60%;
        }

        .blocktext {
            margin-left: 2em;
            margin-right: 2em;
            line-height: 1.4;
            text-align: left;
            letter-spacing: -0.014em;
            overflow-wrap: break-word;
        {#color: rgb(0,140,210);#} color: rgb(55, 70, 75);
        {#background: white;#}
        }

        .jumbotron {
            position: relative;
            background-image: url({{ object.jumbotronBackgroundImage.url }});
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            opacity: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 0;
            height: 500px;
        }

        #primertext {
            text-align: center;
        }
    </style>

{% endblock extra_head %}

<title>{% block title %}{{ object.name }}{% endblock %}</title>
{% block middle %}
    {% block hero %}
        <div class="jumbotron">
            <div class="jumbovidtext_container text-center">
                <h1>{{ object.name }}</h1>
            </div>
        </div>
    {% endblock hero %}

    {% block body %}


        <div class="container">
            <h1 id="primertext">{{ object.primer }}</h1>
            <br><br>

            <!--        hyperlink to: media, data, apps-->
            <div class="row">
                <div class="container text-center">
                    <div class="row">
                        <ul class="list-inline">
                            <li>Quicklinks |</li>
                            {% if object.maps.count > 0 or object.customApps.count > 0 or object.geoApps.count > 0 %}
                                <li><a href="#apps">Applikationen</a></li>
                            {% endif %}
                            {% if object.layers.count > 0 %}
                                <li><a href="#datasets">Datenebenen</a></li>
                            {% endif %}
                            {% if object.documents.count > 0 %}
                                <li><a href="#media">Medien</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            {{ object.content|safe }}

            {% if object.maps.count > 0 or object.customApps.count > 0 or object.geoApps.count > 0 %}
                <h3><a name="apps"></a>Applikationen</h3>
                <div class="row">
                    {% for map in object.maps.all %}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <div class="caption text-center">
                                    <div class="position-relative">
                                        <a class="without-decoration" href="{{ map.detail_url }}/view"><img
                                                src="{{ map.curatedthumbnail.thumbnail_url }}" style="width: 100%"/></a>
                                    </div>
                                    <h3 id="thumbnail-label"><a class="without-decoration"
                                                                href="{{ map.detail_url }}/view"
                                                                target="_blank">{{ map.title }}</a></h3>
                                </div>
                                <div class="caption card-footer text-center card-footer-placement">
                                    <ul class="list-inline">
                                        <li>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            <a href="{{ map.detail_url }}/view">&nbsp;{% trans "View" %}</a>
                                        </li>
                                        <li>
                                            <i class="glyphicon glyphicon-info-sign lighter"></i>
                                            <a href="{{ map.detail_url }}">&nbsp;{% trans "About" %}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% for geoApp in object.geoApps.all %}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <div class="caption text-center">
                                    <div class="position-relative">
                                        <a class="without-decoration" href="{{ geoApp.detail_url }}"><img
                                                src="{{ geoApp.curatedthumbnail.thumbnail_url }}" style="width: 100%"/></a>
                                    </div>
                                    <h3 id="thumbnail-label"><a class="without-decoration"
                                                                href="{{ geoApp.detail_url }}"
                                                                target="_blank">{{ geoApp.title }}</a></h3>
                                </div>
                                <div class="caption card-footer text-center card-footer-placement">
                                    <ul class="list-inline">
                                        <li>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            <a href="{{ geoApp.detail_url }}/view">&nbsp;{% trans "View" %}</a>
                                        </li>
                                        <li>
                                            <i class="glyphicon glyphicon-info-sign lighter"></i>
                                            <a href="{{ geoApp.detail_url }}">&nbsp;{% trans "About" %}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% for listItem in customApps.all|dictsort:"order" %}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <div class="caption text-center">
                                    <div class="position-relative">
                                        <a class="without-decoration" href="{{ listItem.customApp.url }}"><img
                                                src="{{ listItem.customApp.thumbnail.url }}" style="width: 100%"/></a>
                                    </div>
                                    <h3 id="thumbnail-label"><a class="without-decoration"
                                                                href="{{ listItem.customApp.url }}"
                                                                target="_blank">{{ listItem.customApp.title }}</a></h3>
                                </div>
                                <div class="caption card-footer text-center card-footer-placement">
                                    <ul class="list-inline">
                                        <li>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            <a href="{{ listItem.customApp.url }}">&nbsp;{% trans "View" %}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if object.layers.count > 0 %}
                <h3><a name="datasets"></a>Datenebenen</h3>
                <div class="row">
                    {% for layer in object.layers.all %}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <div class="caption text-center">
                                    <div class="position-relative">
                                        <a class="without-decoration" href="{{ layer.detail_url }}"><img
                                                src="{{ layer.curatedthumbnail.thumbnail_url }}"
                                                style="width: 100%"/></a>
                                    </div>
                                    <h3 id="thumbnail-label"><a class="without-decoration" href="{{ layer.detail_url }}"
                                                                target="_blank">{{ layer.title }}</a></h3>
                                </div>
                                <div class="caption card-footer text-center card-footer-placement">
                                    <ul class="list-inline">
                                        <li>
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            <a href="{% url "new_map" %}?layer={{ layer.alternate }}">&nbsp;{% trans "View" %}</a>
                                        </li>
                                        <li>
                                            <i class="glyphicon glyphicon-info-sign lighter"></i>
                                            <a href="{{ layer.detail_url }}">&nbsp;{% trans "About" %}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if object.documents.count > 0 %}
                <h3><a name="media"></a>Medien</h3>
                <div class="row">
                    {% for document in object.documents.all %}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <div class="caption text-center">
                                    <div class="position-relative">
                                        <a class="without-decoration" href="{{ document.detail_url }}"><img
                                                src="{{ document.curatedthumbnail.thumbnail_url }}"
                                                style="width: 100%"/></a>
                                    </div>
                                    <h3 id="thumbnail-label"><a class="without-decoration"
                                                                href="{{ document.detail_url }}"
                                                                target="_blank">{{ document.title }}</a></h3>
                                </div>
                                <div class="caption card-footer text-center card-footer-placement">
                                    <ul class="list-inline">
                                        <li>
                                            <i class="glyphicon glyphicon-info-sign lighter"></i>
                                            <a href="{{ document.detail_url }}">&nbsp;{% trans "About" %}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endblock %}

{% endblock middle %}