-e git+https://github.com/GeoNodeUserGroup-DE/importer-datapackage.git@main#egg=importer_datapackage
-e git+https://github.com/geosolutions-it/geonode-subsites#egg=geonode-subsites
django-auth-ldap==4.6.0
