-e git+https://github.com/GeoNodeUserGroup-DE/contrib_datapackage.git@main#egg=importer-datapackage
-e git+https://github.com/geosolutions-it/geonode-subsites#egg=geonode-subsites
django-auth-ldap==4.6.0
