-e git+https://github.com/GeoNodeUserGroup-DE/importer-datapackage.git@main#egg=importer_datapackage
#-e git+https://github.com/geosolutions-it/geonode-subsites#egg=geonode-subsites
-e git+https://github.com/ridoo/geonode-subsites@fix/removed_template_tag_parameter#egg=geonode-subsites
django-auth-ldap==4.6.0
