{% extends 'geonode-mapstore-client/_geonode_config.html' %}
{% block override_local_config %}

{% comment %} Keep the overrides from other apps {% endcomment %}
{{ block.super }}

<script>
    (function() {
        const { overrideLocalConfig } = window.__GEONODE_CONFIG__;

        window.__GEONODE_CONFIG__.overrideLocalConfig = function(localConfig, _) {
            if (overrideLocalConfig) {
                overrideLocalConfig(localConfig, _)
            }

            const { filtersForm } = localConfig.geoNodeConfiguration;
            
            const datasetItem = filtersForm.items[0].items.filter(i => i.id === 'dataset');
            if (datasetItem[0] && datasetItem[0].items.filter(i => i.id === 'store-tabular').length === 0) {
                datasetItem[0].items.push({
                    id: "store-tabular",
                    labelId: "gnhome.importer.tabular",
                    type: "filter",
                    query: {
                        "filter{subtype.in}": "tabular"
                    }
                });
            }

            return localConfig;
        };
    })();
</script>
{% endblock %}