{% extends "geonode_base.html" %}
{% load i18n %}
{#{% load static from staticfiles %}#}
{% load base_tags %}
{% load process_atlas_data %}

{% block extra_head %}

    {#    get super head block data #}
    {{ block.super }}
    <style type="text/css">
        {#    overwrite jumbotron container background data#}
        {% if custom_theme.jumbotron_color %}
            .th-atlas .jumbotron {
                background-color: {{ custom_theme.jumbotron_color }}
            }
        {% endif %}

        {% if custom_theme.jumbotron_title_color %}
            .th-atlas .jumbotron h1,
            .th-atlas .jumbotron h2,
            .th-atlas .jumbotron h3 {
                color: {{ custom_theme.jumbotron_title_color }}
            }
        {% endif %}

        {% if custom_theme.jumbotron_text_color %}
            .th-atlas .jumbotron p {
                color: {{ custom_theme.jumbotron_text_color }}
            }
        {% endif %}

        #wrap {
            margin-top: 0;
        }

        .th-atlas {
            color: rgb(58,58,58);
            font-family: 'Lato', sans-serif;
        }

        .th-atlas .jumbotron {
            position: relative;
            background-image: url({{ object.jumbotronBackgroundImage.url }}) !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: cover !important;
            opacity: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 0;
            height: 500px;
        }

        .th-atlas #primertext {
            text-align: center;
            margin-bottom: 2rem;
        }

        .th-atlas h1 {
            font-weight: 700;
            font-size: 2.5rem;
        }

        .th-atlas h3 {
            font-weight: 700;
            font-size: 1.5rem;
        }

        .th-atlas .quicklinks {
            margin: 0 -1rem 0.5rem -1rem;
            text-align: center;
        }

        .th-atlas .content {
            margin-bottom: 2rem;
        }

        .th-atlas .container .atlastext {
            font-size: 22px;
            width: 60%;
        }

        .th-atlas .container .block {
            margin-top: 2em;
            margin-bottom: 2em;
            border-left-style: solid;
            border-left-width: 20px;
            border-left-color: rgb(0, 140, 210);
        }

        .th-atlas .container .blocktext {
            margin-left: 2em;
            margin-right: 2em;
            line-height: 1.4;
            text-align: left;
            letter-spacing: -0.014em;
            overflow-wrap: break-word;
            color: rgb(55, 70, 75);
        }

        .th-atlas .card .thumbnail img {
            width: 100%;
        }

        .th-atlas .card .thumbnail:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.2); 
        }
    </style>

{% endblock extra_head %}

<title>{% block title %}{{ object.name }}{% endblock %}</title>
{% block middle %}

<div class="th-atlas">
    {% block hero %}
        <div class="jumbotron">
            <div class="jumbovidtext_container text-center">
                <h1>{{ object.name }}</h1>
            </div>
        </div>
    {% endblock hero %}

    {% block body %}
        <div class="container">
            {% createResourceArrays object.resource.all as resourceTypes %}
            <h1 id="primertext">{{ object.primer }}</h1>

            <!--        hyperlink to: media, data, apps-->
            <div class="quicklinks">
                <div class="container text-center">
                    <ul class="list-inline">
                        <li>Quicklinks |</li>
                        {% if resourceTypes.maps|length > 0 %}
                            <li><a href="#apps">Kartenanwendungen</a></li>
                        {% endif %}
                        {% if resourceTypes.datasets|length > 0 %}
                            <li><a href="#datasets">Datenebenen</a></li>
                        {% endif %}
                        {% if resourceTypes.documents|length > 0 %}
                            <li><a href="#media">Medien</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="content">

                {{ object.content|safe }}
            </div>

            <div>
            {% if resourceTypes.maps|length > 0 %}
                <h3><a name="apps"></a>Kartenanwendungen</h3>
                <div class="row">
                    {% for map in resourceTypes.maps %}
                        <div class="card col-sm-4">
                            <a href="{{ map.detail_url }}">
                                <div class="thumbnail">
                                    <img src="{{ map.thumbnail_url }}" />
                                    <div class="caption text-center">
                                        <h3 id="thumbnail-label">{{ map.title }}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if resourceTypes.datasets|length > 0 %}
                <h3><a name="datasets"></a>Datenebenen</h3>
                <div class="row">
                    {% for layer in resourceTypes.datasets %}
                    <div class="card col-sm-4">
                        <a href="{{ layer.detail_url }}">
                            <div class="thumbnail">
                                <img src="{{ layer.thumbnail_url }}" />
                                <div class="caption text-center">
                                    <h3 id="thumbnail-label">{{ layer.title }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if resourceTypes.documents|length > 0 %}
                <h3><a name="media"></a>Medien</h3>
                <div class="row">
                    {% for document in resourceTypes.documents %}
                    <div class="card col-sm-4">
                        <a href="{{ document.detail_url }}">
                            <div class="thumbnail">
                                <img src="{{ document.thumbnail_url }}" />
                                <div class="caption text-center">
                                    <h3 id="thumbnail-label">{{ document.title }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endblock %}

</div>
{% endblock middle %}