git+https://github.com/Thuenen-52North-Erweiterung-GeoNode/geonode-mapstore-client.git@feature/preview-tabular-data#egg=django_geonode_mapstore_client
git+https://github.com/Thuenen-52North-Erweiterung-GeoNode/geonode.git@thuenen_4.1.x#egg=GeoNode
-e git+https://github.com/Thuenen-52North-Erweiterung-GeoNode/geonode-importer.git@allow-nonspatial-layer-import#egg=geonode_importer
