-e git+https://github.com/Thuenen-52North-Erweiterung-GeoNode/geonode-mapstore-client.git@thuenen_dev#egg=django_geonode_mapstore_client
git+https://github.com/Thuenen-52North-Erweiterung-GeoNode/geonode.git@thuenen_dev#egg=GeoNode

-e git+https://github.com/geosolutions-it/geonode-importer.git@master#egg=geonode_importer

# install contrib modules (unfortunately, pip clones the repo for each subfolder)
-e git+https://github.com/Thuenen-52North-Erweiterung-GeoNode/geonode-contribs@thuenen_dev#egg=externalapplications\&subdirectory=externalapplications
-e git+https://github.com/Thuenen-52North-Erweiterung-GeoNode/geonode-contribs@thuenen_dev#egg=nonspatialdatasets\&subdirectory=non-spatial-datasets
