git+https://github.com/Thuenen-52North-Erweiterung-GeoNode/geonode-mapstore-client.git@thuenen_dev#egg=django_geonode_mapstore_client
git+https://github.com/Thuenen-52North-Erweiterung-GeoNode/geonode.git@thuenen_dev#egg=GeoNode
