{% extends "geonode_base.html" %}


{% block body_outer %}
<h1>About</h1>
<p>
… this portal
Over the course of the HoliSoils project, a lot of data has been collected and maps were created. The purpose of this portal is to make the results accessible to anyone who is interested. The current focus of the portal is on European maps of soil properties in forests. The final portal includes European maps of soil properties in forests, a map of peatlands in the Baltic states, and a biodiversity map. The portal is being continuously updated over the course of 2025 as results become available. 
The maps are made to be explored. On the right-hand side there will always be a statistical overview of the data visible in the current map section. This overview changes continuously when the map section is changed by zooming in. 
Try it out!

… the HoliSoils project
HoliSoils - Holistic management practices, modelling and monitoring for European forest soils – is an ongoing Horizon 2020 project (May 2021- October 2025) to develop a harmonised soil monitoring framework. It identifies and tests soil management practices aiming to mitigate climate change and sustain provision of various ecosystem services essential for human livelihoods and wellbeing.
In HoliSoils, 20 institutes from all over Europe, Japan and Uruguay work together. We are in close contact to our stakeholder organisations to enable an exchange of knowledge, practices and the exploitation and joint dissemination of HoliSoils results.
If you want to learn more about the HoliSoils project, visit the HoliSoils homepage: https://holisoils.eu/

… the Thuenen Atlas
The Thuenen Atlas is a tool based on the open-source software GeoNode. GeoNode is a platform for developing geospatial information systems (GIS) and for deploying spatial data infrastructures (SDI). 
Thuenen institute employees can publish their maps and other data in the atlas. The published maps are not static, but can be changed and explored by zooming in or selecting certain layers. The HoliSoils subpage has the same options, but was designed specifically for the project and acts as an independent homepage.
You can visit the Thuenen Atlas here: https://atlas.thuenen.de/catalogue/#/
Please note that most of the data on Atlas is only available in German. 
</p>
{% endblock %}
