{% extends "geonode_base.html" %}


{% block body_outer %}
<h1>About</h1>
<p>In the course of the HoliSoils project, a lot of data was collected and maps were created. The purpose of this portal is to make the results accessible to anyone who is interested.
    The current focus of the portal is on European maps of soil properties in forests. A map of peatlands in the Baltic states and a biodiversity map will follow.
    The maps are made to be discovered. On the right-hand side there will always be a statistical overview of the data visible in the current map section. This overview changes continuously when the map section is changed by zooming in.
    Try it out!</p>
{% endblock %}