{% extends "geonode_base.html" %}

{% load i18n %}
{% block title %} {% trans "Legal notice" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>{% trans "Legal notice" %}</h2>
    </div>
    {% blocktrans %}
    <p>Johann Heinrich von Thünen-Institut, <br>Bundesforschungsinstitut für Ländliche Räume, Wald und Fischerei <br>Bundesallee
        50 <br>38116 Braunschweig <br>Germany
    </p>
    <h3>Contact </h3>
    <p>Phone: +49 531 596 1003 <br>Fax: +49 531 596 1099 <br><a
            href="javascript:linkTo_UnCryptMailto('ocknvq,kphqBvjwgpgp0fg');" title="Opens window for sending email">info<span>@</span><span
            style="display:none;">&nbsp;&nbsp;</span>thuenen<span>.</span><span
            style="display:none;">&nbsp;&nbsp;</span>de</a>
    </p>
    <h3>Overall responsibility</h3>
    <p>The president of the Johann Heinrich von Thünen-Institut, Prof. Dr. Folkhard Isermeyer.
    </p>
    <h3>VAT number</h3>
    <p>(VAT) DE 153809887
    </p>

    <h2>Information of usage</h2>
    <h3>General Information</h3>
    <p>The Johann Heinrich von Thünen Institute, Federal Research Institute for Rural Areas, Forestry and Fisheries –
        Thünen Institute in brief – consists of 15 specialized institutes that carry out research and provide policy
        advice in the fields of economy, ecology and technology.
    </p>
    <p> The contents of the Thünen Institute’s Internet pages are to be considered a free government public service.
        They should facilitate access to public information and communicate an accurate image of the tasks, activities,
        plans and projects of the Federal Research Institute. For this reason, great emphasis is placed on the accuracy,
        timeliness, comprehensiveness and comprehensibility of the contents published here. The contents of these pages
        is regularly updated.
    </p>
    <h3>Personal contents </h3>
    <p>The correct, timely, complete and understandable representation of published information, documents and data can
        not be absolutely guaranteed. While it is assumed that the information included in these pages is, to the best
        of our knowledge, accurate, and inclusion is carried out with great caution, in so far as regulations, official
        information, recommendations or other information are included, in the case of inaccuracies, only the current
        official version, as it is published in the designated official information channel is valid. Legal information,
        recommendations and information are non-binding and do not constitute a legal consultation. For this reason, the
        use of the contents of these pages can not take the place of a legal consultation with an attorney or
        accountant.
    </p>
    <h3>Contents of other Providers</h3>
    <p>The Thünen Institute does not only present its own WWW offerings, but within the framework of its service
        offerings, also provides links or references to external contacts for which the Thünen Institute has absolutely
        no influence on the current and future structure, and on the contents of links or related WWW offerings, and
        thus holds no responsibility or liability for the contents of these pages. It holds no responsibility for the
        currency, correctness, completeness or quality information presented on external links. The Thünen Institute
        expressly distances itself from illegal contents on such pages. This observation is valid for all links or
        references to be found within the Johann Heinrich von Thünen Institute offerings.
    </p>
    <h3>Error messages</h3>
    <p>Users of the Thünen Institute’s Internet pages are requested to immediately notify the appropriate office about
        illegal contents of other providers for whom a link is given. At the same time, users are requested to inform
        the Johann Heinrich von Thünen Institute about Internet pages which are not error free, timely, complete or
        understandable. To contact the institute you can use this address: <a
                href="javascript:linkTo_UnCryptMailto('ocknvq,kphqBvjwgpgp0fg');"
                title="Opens window for sending email">info<span>@</span><span style="display:none;">&nbsp;&nbsp;</span>thuenen<span>.</span><span
                style="display:none;">&nbsp;&nbsp;</span>de</a>
    </p>
    <h3>Image Rights</h3>
    <p>A duplication or use of the images in other electronic or printed publications is not permitted without the
        express written consent of the copyright holder.</p>
    {% endblocktrans %}
{% endblock %}
