{% extends 'geonode-mapstore-client/_geonode_config.html' %}
{% block override_local_config %}

{% comment %} Keep the overrides from other apps {% endcomment %}
{{ block.super }}

<script>
    
    const { overrideLocalConfig } = window.__GEONODE_CONFIG__;
    window.__GEONODE_CONFIG__.overrideLocalConfig = function(localConfig, _) {
        if (overrideLocalConfig) {
            overrideLocalConfig(localConfig, _);
        }

        // do local config override

        Object.keys(localConfig.plugins).forEach((pageName) => {
            localConfig.plugins[pageName].forEach((plugin) => {
                if (["DetailViewer", "LayerDetailViewer"].includes(plugin.name) && plugin.cfg && plugin.cfg.tabs) {
                    plugin.cfg.tabs.forEach((tab) => {
                        if (tab.id === "info" && Array.isArray(tab.items)) {
                            tab.items.splice(2, 0, {
                                "type": "link",
                                "labelId": "gnviewer.doi",
                                "href": "{'https://doi.org/' + context.get(state('gnResourceData'), 'doi')}",
                                "value": "{context.get(state('gnResourceData'), 'doi')}"
                            });
                        }
                    });
                }
            });
        });

        return localConfig;
    }
</script>
{% endblock %}