{% extends "geonode-mapstore-client/snippets/footer.html" %}


{% load static %}

{% block funding_info %}
<div style="display:flex;">
    <ul>
        <li title="https://holisoils.eu/">
            <div class="footer-logo" style="display: inline-block; margin: 10px;">
                <a href="https://holisoils.eu/">
                    <img src="{% static 'subsites/holisoils_logo_footer.svg' %}" alt="Holisoils Logo"
                        style="max-height: 50px; width: auto;">
                </a>
            </div>
        </li>
        <li title="What is Horizon 2020?">
            <div class="footer-logo" style="display: inline-block; margin: 10px;">
                <a href="https://research-and-innovation.ec.europa.eu/funding/funding-opportunities/funding-programmes-and-open-calls/horizon-2020_en">
                    <img src="{% static 'subsites/logo_EU.svg' %}" alt="EU flag and funding info"
                        style="max-height: 50px; width: auto;">
                </a>
            </div>
        </li>
    </ul>
</div>
{% endblock %}

<!-- <footer class="gn-footer" style="padding: 20px 0; text-align: center;">
    <div class="footer-content" style="max-width: 800px; margin: 0 auto;">
        

        <ul style="list-style-type: none; padding: 0; margin: 0; text-align: center;">
            <li style="margin-bottom: 10px;">
                <a href="https://geonode.org/" class="nav-link" style="text-decoration: none; color: inherit;">
                    <span>geonode.org</span>
                </a>
            </li>
            <li style="margin-bottom: 10px;">
                <a href="/developer/" class="nav-link" style="text-decoration: none; color: inherit;">
                    <span>Developers</span>
                </a>
            </li>
            <li style="margin-bottom: 10px;">
                <a href="/about/" class="nav-link" style="text-decoration: none; color: inherit;">
                    <span>About</span>
                </a>
            </li>
        </ul>
    </div>
</footer> -->