{% extends "geonode-mapstore-client/snippets/footer.html" %}

{% load i18n %}
{% load static %}
<footer class="gn-footer" style="display: block;">
    {% block footer_links %}
    <div style="display:flex">
        <ul style="align-items: center">
            <li>
                <a href="{% url "developer" %}" class="nav-link">
                    <span>{% trans "Developers" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url "accessibility" %}" class="nav-link">
                    <span>{% trans "Accessibility" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url "legal-notice" %}" class="nav-link">
                    <span>{% trans "Legal notice" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url "privacy-cookies" %}" class="nav-link">
                    <span>{% trans "Privacy &#038; Cookies Policy" %}</span>
                </a>
            </li>
            <li title="What is Horizon 2020?">
                <div class="footer-logo" style="display: inline-block; margin: 10px;">
                    <a href="https://doi.org/10.3030/101000289">
                        <img src="{% static 'subsites/logo_EU.svg' %}" alt="EU flag and funding info"
                            style="max-height: 35px; width: auto;">
                    </a>
                </div>
            </li>
        </ul>
    </div>
    {% endblock %}
    {% block funding_info %}
    {% endblock %}
</footer>